name: Python tests

on:
  push:
    branches:
      - main

jobs:
  python-tests:
    name: Python Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - run: |
          python -m pip install --upgrade pip
          pip install pytest

      - run: |
          pytest python-tests/
